:root{
    /* CODEX: modificado para conservar solo variables especificas de esta seccion */
    --bg-scroll: #8b8b8b;
    --bg-bg-scroll: #F5F5F5;
}

[cambio = "darkMode"]{
    /* CODEX: modificado para conservar solo variables especificas de esta seccion */
    --bg-scroll: #9f9f9f;
    --bg-bg-scroll: #2c2c2c;
}

.container__grid{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 19.91em 1fr;
    grid-template-rows: 5em 1fr 3.5em;
    background-color: var(--bG);
}


/*HEADER CONTAINER*/
.header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    
    position: fixed;
    width: 100%;
    background-color: var(--bGh);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content-namePage{
    width: 19.91em;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content-namePage a{
    width: 18.61em;
    cursor: pointer;
    display: flex;
    justify-content: left;
    padding-left: 1em;
}

.imgname{
    width: 95%;
    height: 3em;
    background-image: var(--icon-logo-index);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12em 3em;
}

.btn-menu{
    border: 0 none;
    width: 3em;
    height: 3em;
    position: relative;
    background-image: var(--btn-menu);
    opacity: var(--icon-opacity);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding-top: 5px;
}

.btn-menu:hover, .selected-btn-menu {
    background-color: var(--hover-btn-menu);
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.header_content-img{
    padding-right: .8em;
}
.header_content-img img{
    width: 3.5em;
    height: 3.5em;
}


/*MENU CONTAIENER CODIGO SOBREESCRITO DEL MENU (YA ESTA EN STYLE CSS)
.menu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: calc(100% - 8.5em);
    position: fixed;
    top: 5em;
    z-index: 3;
    border-right: 1px solid var(--border);
}

.menu_nav-libros{
    width: 19.91em;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--bg-menu);
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu_ds{        /*SCRIPTS CLASES AGREGADAS MENU DESPEGABLE
    display: none;
}

.content__content{
    margin-bottom: 6em;
}

.menu p a{
    display: block;
    /* width: 100%; Se sobresale del borde del menu
    height: 2em;
    line-height: 2em;
    text-decoration: none;
    font-weight: 600;
    color: var(--color3);
    padding-left: 10px;
}*/


/*MENU SEARH*/
.search{
    width: 100%;
    height: 3em;
    display: block;
    border-bottom: 1px solid var(--border);
}

.search input{
    width: 90%;
    height: calc(3em - 2px);
    outline: none;
    border: none;
    text-indent: 10px;
    color: var(--color3);
    background-color: var(--bG)
}

.search i{
    width: 10%;
    height: 3em;
    line-height: 3em;
    cursor: pointer;
    color: var(--color2);
}

.search i:hover{
    transform: scale(1.2);
    color: var(--color3);
}

/*Search   Ul*/

.side__ul__content{
    width: 100%;
    height: calc(100vh - 11.5em);
    background-color: var(--bG);
    border-right: 1px solid var(--border);
    position: absolute;
    top: -650px;
    z-index: 3;
    transition: all 350ms;
    display: none;
}

.side__ul__content li{
    height: 3em;
    line-height: 3em;
    z-index: 2;
}

.side__ul__content li:hover{
    background-color: #eee;
}

.side__ul__content li a{
    line-height: 2.5em;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: #777;
    z-index: 2;
}

/* Estilos para WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar{
    width: 12px;
    height: 6px;
    background-color: var(--bg-bg-scroll);
    overflow-x: auto;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: var(--bg-scroll);
    background-clip: content-box;
    overflow-x: auto;
}

::-webkit-scrollbar-button:single-button {
  background-color: var(--bg-bg-scroll);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/*Up*/
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-radius: 5px 5px 0 0;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(139, 139, 139)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(82, 77, 77)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='95' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-radius: 0px 0px 5px 5px;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(139, 139, 139)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(82, 77, 77)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='95' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}


/*MENU  BTN-LENGUAJE
.content__Lenguaje-libros{
    position: relative;
    bottom: 0em;
    width: 100%;
    height: 3em;
    font-weight: 600;
    color: var(--color3);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__Lenguaje-formulas{
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 3em;
    font-weight: 600;
    color: var(--color3);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lenguaje-btn-content,.darmode-btn-content,.btn-cambio-after{
    width: 4.5em;
    height: 2.2em;
    font-weight: 600;
    color: var(--color3);
    margin-right: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

#click-lenguaje, #click-DarkMode{
    width: 0;height: 0;opacity: 0;
}

.before::after{
    content: ' ';
    width: 2em;
    height: 1.85em;
    top: 1px;
    left: 0;
    right: unset;
    position: absolute;
    background-color: #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
}

.after::after{
    content: ' ';
    width: 2em;
    height: 1.85em;
    top: 1px;
    left: unset;
    right: 0;
    position: absolute;
    background-color: #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
}

MENU  BTN-DARKMODE
.content__DarkMode-libros{
    position: relative;
    bottom: 0em;
    width: 100%;
    height: 3em;
    font-weight: 600;
    color: var(--color3);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__DarkMode-formulas{
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 3em;
    font-weight: 600;
    color: var(--color3);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darmode-btn-content i::after{
    content: ' ';
    width: 45%;
    height: 1.7em;
    top: 2.5px;
    left: 0;
    right: unset;
    position: absolute;
    background-color: #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
}

.btn-cambio-after-dM i::after{
    content: ' ';
    width: 45%;
    height: 1.7em;
    top: 2.5px;
    left: unset;
    right: 0;
    position: absolute;
    background-color: #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
}

.btn-sun{
    width: 1.2em;
    height: 1.2em;
    padding: 2px;
    background-image: var(--icon-bn-moon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-moon{
    width: 1.2em;
    height: 1.2em;
    padding: 2px;
    background-image: var(--icon-bn-moon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}*/

/*MAIN CONTANTAINER*/
.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bG);
}

.main iframe{
	width: 100%;
	height: 100%;
    position: relative;
    border: none;
}

.main_ds{            
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.main_s1{
    width: 95%;
    min-height: 25em;
    margin-top: 1em;
    border: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color3);
}

.main_s1_a{
    width: 95%;
    min-height: 21em;
    margin-top: 1em;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    color: var(--color3);
}

.manual-title,
.manual-version,
.manual-html-title {
    text-align: center;
}

.manual-title{
    margin-top: .3em;
    font-size: 3.5em;
}
.manual-version{
    font-size: 2.2em;
    padding-left: .5em;
    padding-right: .5em;
}
.manual-html-title{
    font-size: 1.8em;
    font-weight: 100;
    padding-left: .5em;
    padding-right: .5em;
}
.manual-mantenimiento{
    margin: 2em 0em;
    padding-left: .5em;
    padding-right: .5em;
}
.manual-mantenimiento span{
    font-size: 1.5em;
    font-weight: 100;
}

.manual-mantenimiento_pdfs{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
}

.topic_caja1{
    margin-right: 4.4em;
}

.manual-mantenimiento_pdfs span{
    margin: 0em 2em;
    display: block;
}

.manual-mantenimiento_pdfs strong {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

.manual-mantenimiento_pdfs .autor{
    font-size: 1.4em;
    text-decoration: none;
    color: #000000;
    word-break: break-all;
}

.manual-mantenimiento_pdfs i{
    font-size: 1em;
    text-decoration: none;
    color: #000000;
}

.manual-mantenimiento a{
    font-size: 1.1em;
    text-decoration: none;
    color: #bb9b44;
}

.fa-html5{
    color: #f75421;
}

.fa-css3-alt {
    color: #3595cf;
}

.manual-html-explanation{
    font-size: 1.5em;
    margin: 0em 2em;
    font-weight: 100;
}
.manual-authorship-explanation{
    margin-top: 1em;
    font-size: 1.2em;
}

.main_s2{
    width: 95%;
    /*min-height: 60em;*/
    padding-top: 1em;
}


.home-toc-section strong{
    font-size: 1.9em;
    color: var(--color3);
}

.home-toc-container {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

.home-toc-card {
    width: 192px;
    height: 192px;
    margin-top: 1em;
    margin-right: 1em;
    border: 1px solid var(--border);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: #8b8b8b;
    overflow: hidden;
    transition: background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}

.home-toc-card:hover{
    transform: scale(.99);
}

.home-toc-card a {
    width: 192px;
    height: 192px;
    display: block;
    text-decoration: none;
    color: var(--color2);
}

.home-toc-card a:hover{
    background-color: #5cafcd1f;
}

.home-toc-card a img {
    width: 192px;
    height: 192px;
}


.home-toc-chapter-name {
    width: 100%;
    height: 26px;
    position: absolute;
    border-radius: 26px;
    height: 2.2em;
    display: inline-block;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.3em;
    border-top: 1px solid #d1d1d1;
    background-color: #8b8b8b;
    bottom: -6px;
    left: 50%;
    box-sizing: border-box;
    line-height: 26px;
    text-overflow: ellipsis;
    transform: translate(-50%,-50%);
    margin: auto;
    overflow: hidden;
    padding: 0px 12px;
    white-space: nowrap;
    max-width: 174px;
    font-size: 14px;
    color: white;
}

/*Edit-Texto-Introduccion*/
.main_s3{
    width: 95%;
    min-height: 32em;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 1.3em;
    color: var(--color3);
}

.main_s3 h2{
    margin-left: 2em;
    font-size: 1.4em;
    text-transform: uppercase;
}

.intalic-I{
    font-size: 1.4em;
}

.main_s3 p{
    margin-top: 1em;
    font-size: .95em;
    text-align: justify;

}

.intro-Firma{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-Firma p:nth-child(1){
    font-size: 1.5em;
}


/*FOOTER */
.footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    height: 3.5em;
    z-index: 3;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bGf);
}

.footer-left, .footer-right{
    margin: 0px 10px;
}
.footer-left a{
    font-size: 1.2em;
    color: #900;
    text-decoration: none;
}


/*FLECHA*/
#btn-top {
    position: fixed;
    z-index: 8;
    right: 12px;
    bottom: 4em;
    background: var(--btn-top);
    width: 2.8em;
    height: 3em;
    color: var(--btn-top-axis);
    text-align: center;
    line-height: 38px;
    transition: all 0.2;
}

#btn-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-up{
    width: 1em;
    height: 1em;
    padding: 2px;
    background-image: var(--icon-top);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.indicador_container {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 7px;
    z-index: 1001;
}

.indicador_scroll {
    height: 100%;
    width: 0px;
}

.ocultar {
    opacity: 0;
    visibility: hidden;
}

.mostrar {
    opacity: 1;
    visibility: visible;
}


/*TEXT LATEX*/
.txt-lx{
    font-size: 1em;
    font-style: italic;
}

nav.menu_nav-libros .content__content > p.current-part {
    background-color: var(--menu-current-part);
}

nav.menu_nav-libros .content__content > p.current {
    background-color: var(--menu-current);
}

nav.menu_nav-libros .content__content a.toc-section {
    font-weight: normal;
    margin-left: 1.3em;
    border-left: 1px solid var(--menu-border-content);
}

.content__content p:hover,
nav.menu_nav-libros .content__content > p.current-part:hover {
  background-color: var(--hover-index);
}

nav.menu_nav-libros .content__content a {
    font-weight: bold;
}

@media only screen and (max-width: 430px){
    .container__grid{
        width: 100%;
    }

    .header{
        grid-column: 1 / 3;
    }
    .header_content-namePage{
        width: 100%;
    }

    .header_content-img img{
        display: none;   
    }

    /*RESPONSIVE MENU ESTA SOBRESCRITO EN STYLE.CSS
    .menu{
        display: none;
    }*/

    .menu_nav-libros{
        width: 100%;
    }
    /*SE SOBREESCRIBE YA ESTA EN STYLE.CSS
    .menu_ds{       
        width: 100%;
        display: block;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    */
    /*RESPONSIVE MAIN*/
    .main{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    /*
    .main_ds{           
        display: none;
        height: 100%;
    }
    */
    
    .home-toc-section{
        width: initial;
    }

    .home-toc-card{
        width: 100%;
        margin: 1em 0em;
        text-align: center;
    }

    .home-toc-card a{
        width: 100%;
        height: 14.66em;
        display: block;
        text-decoration: none;
        color: #787878;
    }
    .main_s1{
        padding-bottom: 1em;
    }
    .main_s3{
        padding-bottom: 1em;
    }
    
}


